{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngen | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('bundles/certunlpngen/images/favicon.ico') }}"/>
    {% block stylesheets %}
        {% stylesheets
            'css/bootstrap4.css'
            'css/fontawesome-all.css'
            '@CertUnlpNgenBundle/Resources/public/css/plugins/metisMenu/metisMenu.min.css'
            '@CertUnlpNgenBundle/Resources/public/css/sb-admin-2.css'
            '@CertUnlpNgenBundle/Resources/public/css/sbadmin2-sidebar-toggle.css'
            '@CertUnlpNgenBundle/Resources/public/css/style.css'
            '@CertUnlpNgenBundle/Resources/public/css/propio.css'
            '@CertUnlpNgenBundle/Resources/public/css/ladda-themeless.min.css'
            '@CertUnlpNgenBundle/Resources/public/css/plugins/select2-bootstrap.min.css'
            '@CertUnlpNgenBundle/Resources/public/css/plugins/select2.min.css'
            output='css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="notifications" class="notifications">
{#        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}#}
    </div>
    {% block body %}
    {% endblock %}
</div>
<footer>
    {% block javascripts %}
        {% javascripts
            '@CertUnlpNgenBundle/Resources/public/js/lib/jquery.js'
            '@CertUnlpNgenBundle/Resources/public/js/lib/bootstrap.bundle.min.js'
            '@CertUnlpNgenBundle/Resources/public/js/plugins/metisMenu/metisMenu.min.js'
            '@CertUnlpNgenBundle/Resources/public/js/lib/sb-admin-2.min.js'
            '@CertUnlpNgenBundle/Resources/public/js/lib/spin.min.js'
            '@CertUnlpNgenBundle/Resources/public/js/lib/*'
            '@CertUnlpNgenBundle/Resources/public/js/api/*'
            '@CertUnlpNgenBundle/Resources/public/js/plugins/select2.min.js'
            '@TetranzSelect2EntityBundle/Resources/public/js/select2entity.js'
            '@CertUnlpNgenBundle/Resources/public/js/CertUnlp.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            var cert_unlp = new CertUnlp();
        </script>
    {% endblock %}
</footer>
</body>
</html>
