    {#
 This file is part of the Ngen - CSIRT Incident Report System.

 (c) CERT UNLP <support@cert.unlp.edu.ar>

 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::layout.html.twig' %}
{% block title %}Incidents{% endblock %}
{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        {% block content_header %}
        {% endblock %}
    </div>
    <div class="row">
        <div class="col-xl-12">
            {% block content_body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}