{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::layout.html.twig' %}
{% block title %}Incidents{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% block content_header %}
                <h1 class="page-header">Incidents</h1>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% block content_body %}
            {% endblock %}
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/certunlpngen/css/ladda-themeless.min.css') }}" media="screen" />
{% endblock %}