{% extends 'CertUnlpNgenBundle::base.html.twig' %}
{% block body %}
    {% block navigation_block %}
        {% block navigation_sidebar %}
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                {% include 'CertUnlpNgenBundle::sidebar.html.twig' %}
            </ul>
        {% endblock %}


<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        {% block page_wrapper %}

            {% if app.user %}
                {% include 'CertUnlpNgenBundle:navBar:navRight.html.twig' %}
            {% endif %}

        {% endblock %}
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
    {% endblock %}
{% endblock %}

