{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{ 'Incident Types'|trans }}{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{ icon('cubes fa-fw') }} {{ 'Incident Types'|trans }}s</h1>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_incident_type_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:IncidentType:Frontend/list/incidentTypeList.html.twig' with {'incidentTypes': objects  } %}
{% endblock %}
