# This file is part of the Ngen - CSIRT Incident Report System.
# 
# (c) CERT UNLP <support@cert.unlp.edu.ar>
# 
# This source file is subject to the GPL v3.0 license that is bundled
# with this source code in the file LICENSE.
imports:
    - { resource: elastica_config.yml }

framework:
    http_method_override: true
    translator: ~

assetic:
    filters:
        cssrewrite: ~
    bundles:
        - CertUnlpNgenBundle
        - FOSCommentBundle
    assets:
        fontawesome_css:
            inputs:
                - "%kernel.root_dir%/../vendor/fortawesome/font-awesome/css/all.min.css"
            output: css/fontawesome-all.css
        font-awesome-eot:
            inputs: '%kernel.root_dir%/../vendor/fortawesome/font-awesome/webfonts/fa-solid-900.eot'
            output: 'webfonts/fa-solid-900.eot'
        font-awesome-woff2:
            inputs: '%kernel.root_dir%/../vendor/fortawesome/font-awesome/webfonts/fa-solid-900.woff2'
            output: 'webfonts/fa-solid-900.woff2'
        font-awesome-ttf:
            inputs: '%kernel.root_dir%/../vendor/fortawesome/font-awesome/webfonts/fa-solid-900.ttf'
            output: 'fonts/fontawesome-webfont.ttf'
        font-awesome-woff:
            inputs: '%kernel.root_dir%/../vendor/fortawesome/font-awesome/webfonts/fa-solid-900.woff'
            output: 'webfonts/fa-solid-900.woff'
        font-awesome-svg:
            inputs: '%kernel.root_dir%/../vendor/fortawesome/font-awesome/webfonts/fa-solid-900.svg'
            output: 'webfonts/fa-solid-900.svg'
        bootstrap_css:
            inputs:
                - "%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css"
            output: css/bootstrap4.css
        bootstrap_js:
            inputs:
                - "%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"
        jquery_js:
            inputs:
                - "%kernel.root_dir%/../vendor/components/jquery/jquery.min.js"

    #
#        fontawesome_fonts:
#            inputs:
#                - %kernel.root_dir%/../vendor/fortawesome/font-awesome/webfonts/
##            filters:
##                    - less
##                    - cssrewrite
#            output: webfonts
swiftmailer:
    mailers:
        cert_unlp.ngen.incident.mailer:
            #            transport: "%cert_unlp.ngen.incident.mailer.transport%"
            host:      "%cert_unlp.ngen.incident.mailer.host%"
            sender_address: "%cert_unlp.ngen.incident.mailer.sender_address%"
            username:  "%cert_unlp.ngen.incident.mailer.username%"
            password:  "%cert_unlp.ngen.incident.mailer.password%"
            #        encryption: "%cert_unlp.ngen.incident.mailer.encryption%"
            port: "%cert_unlp.ngen.incident.mailer.port%"
            spool:
                type: file
                path: "%kernel.root_dir%/Resources/incident/mails"
doctrine:
    orm:
        auto_mapping: true
        auto_generate_proxy_classes: "%kernel.debug%"

        #        query_cache_driver:    apc
        #        metadata_cache_driver: apc
        #        entity_listener_resolver: cert_unlp.ngen.doctrine.entity_listener_resolver
        dql:
            string_functions:
                inet_aton: DoctrineExtensions\Query\Mysql\InetAton
                inet_ntoa: DoctrineExtensions\Query\Mysql\InetNtoa
                inet6_aton: DoctrineExtensions\Query\Mysql\Inet6Aton
                inet6_ntoa: DoctrineExtensions\Query\Mysql\Inet6Ntoa
                substring_index: DoctrineExtensions\Query\Mysql\SubstringIndex
        mappings:
            translatable:
                type: annotation
                alias: Gedmo
                prefix: Gedmo\Translatable\Entity
                # make sure vendor library location is correct
                dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Translatable/Entity"
        filters:
            softdeleteable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true
    dbal:
        types:
            ip: Darsyn\IP\Doctrine\MultiType

sensio_framework_extra:
    view: { annotations: true }
    router: { annotations: true }
    request: { converters: true }

fos_rest:
    param_fetcher_listener: true
    allowed_methods_listener: true
    zone:
        - { path: '^/api/*' }
    disable_csrf_role: ROLE_API
    view:
        view_response_listener: force
        formats:
            json: true
            html: true
    format_listener:
        enabled: true
        rules:
            - { path: '^/api/*', priorities: ['json','html'], fallback_format: json , prefer_extension: true}
            - { path: '^/', stop: true }

nelmio_api_doc:
    models:
        use_jms: true
    areas:
        path_patterns: # an array of regexps
            - ^/api/(?!/doc$)
    documentation:
        info:
            title: Ngen Api
            description: Ngen Api Documentation
            version: 1.0.0
        securityDefinitions:
            Bearer:
                type: apiKey
                description: Your api key
                name:  apiKey
                in: header
            security:
                -   api_key: []
#        components:
#            securitySchemes:
#                Bearer:
#                type: http
#                scheme: bearer
#                bearerFormat: JWT
        security:
            -   Bearer: []

imap:
    connections:
        ngen_connection:
            mailbox: "{%imap_server%}INBOX"
            username: "%imap_username%"
            password: "%imap_password%"

knp_paginator:
    page_range: 7                       # number of links showed in the pagination menu (e.g: you have 10 pages, a page_range of 3, on the 5th page you'll see links to page 4, 5, 6)
    default_options:
        page_name: page                 # page query parameter name
        sort_field_name: sort           # sort field query parameter name
        sort_direction_name: direction  # sort direction query parameter name
        distinct: true                  # ensure distinct results, useful when ORM queries are using GROUP BY statements
        filter_field_name: filterField  # filter field query parameter name
        filter_value_name: filterValue  # filter value query parameter name
    template:
        pagination: '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig'     # sliding pagination controls template
        sortable: '@KnpPaginator/Pagination/sortable_link.html.twig' # sort link template
        filtration: '@KnpPaginator/Pagination/filtration.html.twig'  # filters template


fos_comment:
    db_driver: orm
    class:
        model:
            comment: CertUnlp\NgenBundle\Entity\Incident\IncidentComment
            thread: CertUnlp\NgenBundle\Entity\Incident\IncidentCommentThread
    form:
        comment:
            type: CertUnlp\NgenBundle\Form\IncidentCommentType

stfalcon_tinymce:
    theme:
        simple:
            mode: "textareas"
            theme: "advanced"
            force_br_newlines: false
            force_p_newlines: false
            forced_root_block: ''

fos_user:
    db_driver: orm # other valid values are 'mongodb' and 'couchdb'
    firewall_name: frontend
    user_class: CertUnlp\NgenBundle\Entity\User
    from_email:
        address: "%cert_unlp.ngen.incident.mailer.sender_address%"
        sender_name: "%cert_unlp.ngen.incident.mailer.sender_address%"
    registration:
        confirmation:
            enabled: true
        form:
            type: 'CertUnlp\NgenBundle\Form\UserRegistrationType'

jms_serializer:
    metadata:
        directories:
            FOSUB:
                namespace_prefix: "FOS\\UserBundle"
                path: "@CertUnlpNgenBundle/Resources/config/serializer"
twig:
    globals:
        sign: '%ngen_sign%'
    form_themes:
        - 'TetranzSelect2EntityBundle:Form:fields.html.twig'
        - 'CertUnlpNgenBundle:Form:bootstrap_4_layout.html.twig'
        #cmen_google_charts:
        #language: "%ngen_lang%"
