# This file is part of the Ngen - CSIRT Incident Report System.
# 
# (c) CERT UNLP <support@cert.unlp.edu.ar>
# 
# This source file is subject to the GPL v3.0 license that is bundled
# with this source code in the file LICENSE.

fos_elastica:
    clients:
        default: { host: localhost, port: 9200 }
    indexes:
        incidents:
            index_name: incidents_%kernel.environment%
            types:
                internal:
                    properties:
                        id:
                            type: integer
                        hostAddress:
                            type: ip
                        date:
                            type: date
                        lastTimeDetected:
                            type: date
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        isClosed:
                            type: boolean
                        evidence_file_path:
                            type: keyword
                        network:
                            type: "object"
                            properties:
                                ip:
                                    type: ip
                                ipMask:
                                    type: integer
                                isActive:
                                    type: boolean
                                networkAdmin:
                                    type: "object"
                                    properties:
                                        slug:
                                            type: keyword
                                        email:
                                            type: keyword
                                        name:
                                            type: keyword
                                        isActive:
                                            type: boolean
                                academicUnit:
                                    type: "object"
                                    properties:
                                        slug:
                                            type: keyword
                                        name:
                                            type: keyword
                        networkAdmin:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                email:
                                    type: keyword
                                name:
                                    type: keyword
                                isActive:
                                    type: boolean
                        state:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        feed:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        type:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        reporter:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                                lastname:
                                    type: keyword
                                email:
                                    type: keyword
                                username:
                                    type: keyword
                                enabled:
                                    type: boolean
                                createdAt:
                                    type: date
                                updatedAt:
                                    type: date
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\InternalIncident
                        provider: ~
                        finder: ~
                external:
                    properties:
                        id:
                            type: integer
                        hostAddress:
                            type: ip
                        date:
                            type: date
                        lastTimeDetected:
                            type: date
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        isClosed:
                            type: boolean
                        evidence_file_path:
                            type: keyword
                        abuse_entity:
                            type: keyword
                        network_entity:
                            type: keyword
                        start_address:
                            type: keyword
                        end_address:
                            type: keyword
                        country:
                            type: keyword
                        abuse_entity_emails:
                            type: keyword
                        state:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        feed:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        reporter:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                                lastname:
                                    type: keyword
                                email:
                                    type: keyword
                                username:
                                    type: keyword
                                enabled:
                                    type: boolean
                                createdAt:
                                    type: date
                                updatedAt:
                                    type: date
                        type:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\ExternalIncident
                        provider: ~
                        finder: ~
        networks:
            index_name: networks_%kernel.environment%
            types:

                network:
                    properties:
                        id:
                            type: integer
                        ip:
                            type: ip
                        ipMask:
                            type: integer
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        isActive:
                            type: boolean
                        networkAdmin:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                email:
                                    type: keyword
                                name:
                                    type: keyword
                                isActive:
                                    type: boolean
                        academicUnit:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Network
                        provider: ~
                        finder: ~
        network_admins:
            index_name: network_admins_%kernel.environment%
            types:
                network_admin:
                    properties:
                        id:
                            type: integer
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        email:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\NetworkAdmin
                        provider: ~
                        finder: ~
        academic_units:
            index_name: academic_units_%kernel.environment%
            types:
                academic_unit:
                    properties:
                        id:
                            type: integer
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\AcademicUnit
                        provider: ~
                        finder: ~
        feeds:
            index_name: feeds_%kernel.environment%
            types:
                feeds:
                    properties:
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\IncidentFeed
                        provider: ~
                        finder: ~
        states:
            index_name: states_%kernel.environment%
            types:
                states:
                    properties:
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\IncidentState
                        provider: ~
                        finder: ~
        types:
            index_name: types_%kernel.environment%
            types:
                types:
                    properties:
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        reports:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                lang:
                                    type: keyword
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\IncidentType
                        provider: ~
                        finder: ~
        reports:
            index_name: reports_%kernel.environment%
            types:
                reports:
                    properties:
                        lang:
                            type: keyword
                        slug:
                            type: keyword
                        type:
                            type: keyword
                        problem:
                            type: text
                        derivated_problem:
                            type: text
                        verification:
                            type: text
                        more_information:
                            type: text
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\IncidentReport
                        provider: ~
                        finder: ~
        users:
            index_name: users_%kernel.environment%
            types:
                users:
                    properties:
                        username:
                            type: keyword
                        name:
                            type: keyword
                        lastname:
                            type: keyword
                        slug:
                            type: keyword
                        email:
                            type: keyword
                        lastLogin:
                            type: date
                        isEnabled:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\User
                        provider: ~
                        finder: ~