# This file is part of the Ngen - CSIRT Incident Report System.
#
# (c) CERT UNLP <support@cert.unlp.edu.ar>
#
# This source file is subject to the GPL v3.0 license that is bundled
# with this source code in the file LICENSE.

fos_elastica:
    clients:
        default: { host: %elastic_host%, port: %elastic_port% }
    indexes:
        incidents:
            index_name: incidents_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                incident:
                    properties:
                        id:
                            type: integer
                        ip_v4:
                            type: ip
                        date:
                            type: date
                        lastTimeDetected:
                            type: date
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        isClosed:
                            type: boolean
                        evidence_file_path:
                            type: keyword
                        network:
                            type: "object"
                            properties:
                                ip_v4:
                                    type: ip
                                ipMask:
                                    type: integer
                                isActive:
                                    type: boolean
                                networkAdmin:
                                    type: "object"
                                    properties:
                                        slug:
                                            type: keyword
                                        emails:
                                            type: keyword
                                        name:
                                            type: keyword
                                        isActive:
                                            type: boolean
                                networkEntity:
                                    type: "object"
                                    properties:
                                        slug:
                                            type: keyword
                                        name:
                                            type: keyword
                        state:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        feed:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        type:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        reporter:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                                lastname:
                                    type: keyword
                                email:
                                    type: keyword
                                username:
                                    type: keyword
                                enabled:
                                    type: boolean
                                createdAt:
                                    type: date
                                updatedAt:
                                    type: date
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Incident\Incident
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        networks:
            index_name: networks_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:

                network:
                    properties:
                        id:
                            type: integer
                        ip_v4:
                            type: ip
                        ipMask:
                            type: integer
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        isActive:
                            type: boolean
                        networkAdmin:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                emails:
                                    type: keyword
                                name:
                                    type: keyword
                                isActive:
                                    type: boolean
                        networkEntity:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Network\Network
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        network_admins:
            index_name: network_admins_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                network_admin:
                    properties:
                        id:
                            type: integer
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        emails:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Network\NetworkAdmin
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        network_entitys:
            index_name: network_entitys_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                network_entity:
                    properties:
                        id:
                            type: integer
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        # the driver can be orm, mongodb or propel
                        # listener and finder: ~
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Network\NetworkEntity
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        feeds:
            index_name: feeds_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                feeds:
                    properties:
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Incident\IncidentFeed
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        states:
            index_name: states_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                states:
                    properties:
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Incident\IncidentState
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        priorities:
            index_name: priorities_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                priorities:
                    properties:
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        response_time:
                            type: keyword
                        resolution_time:
                            type: keyword
                        code:
                            type: integer
                        risk:
                            type: keyword
                        urgency:
                            type: keyword
                        createdAt:
                            type: date
                        updatedAt:
                                type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Incident\IncidentPriority
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        decisions:
            index_name: decisions_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                decisions:
                    properties:
                        id:
                            type: integer
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        state:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        feed:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                        type:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                name:
                                    type: keyword
                    persistence:
                        identifier: id
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Incident\IncidentDecision
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        types:
            index_name: types_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                types:
                    properties:
                        name:
                            type: keyword
                        slug:
                            type: keyword
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                        reports:
                            type: "object"
                            properties:
                                slug:
                                    type: keyword
                                lang:
                                    type: keyword
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Incident\IncidentType
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        reports:
            index_name: reports_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                reports:
                    properties:
                        lang:
                            type: keyword
                        slug:
                            type: keyword
                        type:
                            type: keyword
                        problem:
                            type: text
                        derivated_problem:
                            type: text
                        verification:
                            type: text
                        more_information:
                            type: text
                        isActive:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\Incident\IncidentReport
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
        users:
            index_name: users_%kernel.environment%
            settings:
                index:
                    max_result_window: 50000
            types:
                users:
                    properties:
                        username:
                            type: keyword
                        name:
                            type: keyword
                        lastname:
                            type: keyword
                        slug:
                            type: keyword
                        email:
                            type: keyword
                        lastLogin:
                            type: date
                        isEnabled:
                            type: boolean
                        createdAt:
                            type: date
                        updatedAt:
                            type: date
                    persistence:
                        identifier: slug
                        # the driver can be orm, mongodb or propel
                        # listener and finder are not supported by
                        # propel and should be removed
                        driver: orm
                        model: CertUnlp\NgenBundle\Entity\User
                        provider: ~
                        finder: ~
                        listener:
                            insert: true
                            update: true
                            delete: true
