# This file is part of the Ngen - CSIRT Incident Report System.
# 
# (c) CERT UNLP <support@cert.unlp.edu.ar>
# 
# This source file is subject to the GPL v3.0 license that is bundled
# with this source code in the file LICENSE.

#cert_ngen_incident_report_api:
#    type: rest
#    /incidents/internals
#    resource: 'CertUnlp\NgenBundle\Controller\IncidentReportController'
#    name_prefix:  api_


cert_ngen_api_status:
    type: rest
    prefix: /status
    resource: '@CertUnlpNgenBundle/Controller/Api/Ngen/NgenController.php'
    name_prefix:  api_

cert_ngen_incident_api:
    type: rest
    prefix: /
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentController.php'
    name_prefix:  api_

cert_ngen_internal_incident_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/InternalIncidentController.php'
    name_prefix:  api_

cert_ngen_external_incident_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/ExternalIncidentController.php'
    name_prefix:  api_

cert_ngen_incident_feed_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentFeedController.php'
    name_prefix:  api_

cert_ngen_administration_state_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentStateController.php'
    name_prefix:  api_

cert_ngen_administration_type_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentTypeController.php'
    name_prefix:  api_

cert_ngen_incident_report_api:
    type: rest
    parent: cert_ngen_administration_type_api
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentReportController.php'
    name_prefix:  api_

cert_ngen_user_api:
    type: rest
    resource: '@CertUnlpNgenBundle/Controller/Api/User/UserController.php'
    name_prefix:  api_

cert_ngen_network_entity_api:
    type: rest
    resource: '@CertUnlpNgenBundle/Controller/Api/Network/NetworkEntityController.php'
    name_prefix:  api_

fos_comment_thread_api:
    type: rest
    resource: '@CertUnlpNgenBundle/Controller/Api/ThreadController.php'
    name_prefix: fos_comment_
    defaults: { _format: html }

cert_ngen_network_api:
    type: rest
    resource: '@CertUnlpNgenBundle/Controller/Api/Network/NetworkController.php'
    name_prefix:  api_

cert_ngen_network_admin_api:
    type: rest
    resource: '@CertUnlpNgenBundle/Controller/Api/Network/NetworkAdminController.php'
    name_prefix:  api_

cert_ngen_administration_decision_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentDecisionController.php'
    name_prefix:  api_
cert_ngen_administration_priorities_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentPriorityController.php'
    name_prefix:  api_
cert_ngen_administration_taxonomy_value_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentTaxonomyValueController.php'
    name_prefix:  api_
cert_ngen_administration_taxonomy_predicate_api:
    type: rest
    prefix: /incidents
    resource: '@CertUnlpNgenBundle/Controller/Api/Incident/IncidentTaxonomyPredicateController.php'
    name_prefix:  api_
cert_ngen_network_host_api:
    type: rest
    resource: '@CertUnlpNgenBundle/Controller/Api/Network/HostController.php'
    name_prefix:  api_

app.swagger_ui:
    path: /api/doc
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger_ui }

app.swagger:
    path: /api/doc.json
    methods: GET
    defaults: { _controller: nelmio_api_doc.controller.swagger }
