# This file is part of the Ngen - CSIRT Incident Report System.
# 
# (c) CERT UNLP <support@cert.unlp.edu.ar>
# 
# This source file is subject to the GPL v3.0 license that is bundled
# with this source code in the file LICENSE.

cert_ngen_incident_report_api:
    type: rest
    prefix: /v1
    resource: 'CertUnlp\NgenBundle\Controller\IncidentReportController'
    name_prefix:  api_1_
    
#cert_ngen_incident_api:
#    type: rest
#    prefix: /v1
#    resource: 'CertUnlp\NgenBundle\Controller\IncidentController'
#    name_prefix:  api_1_

cert_ngen_internal_incident_api:
    type: rest
    prefix: /v2/incidents
    resource: 'CertUnlp\NgenBundle\Controller\InternalIncidentController'
    name_prefix:  api_2_

cert_ngen_external_incident_api:
    type: rest
    prefix: /v2/incidents
    resource: 'CertUnlp\NgenBundle\Controller\ExternalIncidentController'
    name_prefix:  api_2_

fos_comment_api:
    type: rest
    prefix: /v1
    resource: '@FOSCommentBundle/Resources/config/routing.yml'
    defaults: { _format: html }
    name_prefix:  api_1_

cert_ngen_network_api:
    type: rest
    prefix: /v1
    resource: 'CertUnlp\NgenBundle\Controller\NetworkController'
    name_prefix:  api_1_
#
#NelmioApiDocBundle:
#    resource: '@NelmioApiDocBundle/Resources/config/routing.yml'
#    prefix:   /incidents/api/doc