# This file is part of the Ngen - CSIRT Incident Report System.
# 
# (c) CERT UNLP <support@cert_unlp.unlp.edu.ar>
# 
# This source file is subject to the GPL v3.0 license that is bundled
# with this source code in the file LICENSE.

parameters:
    cert_unlp.ngen.incident.delegator.class:  CertUnlp\NgenBundle\Services\IncidentDelegator
    
services:
    cert_unlp.ngen.api.auth.apikey_authenticator:
        class:     CertUnlp\NgenBundle\Security\ApiKeyAuthenticator
        arguments: ["@cert_unlp.ngen.api.auth.apikey_user_provider"]
    
    cert_unlp.ngen.api.auth.apikey_user_provider:
        class: CertUnlp\NgenBundle\Security\ApiKeyUserProvider
        arguments: ["@doctrine.orm.entity_manager","%cert_unlp.ngen.incident.reporter.class%"]
        
    cert_unlp.ngen.doctrine.entity_listener_resolver:
        class: CertUnlp\NgenBundle\Doctrine\EntityListenerResolver
        arguments: [ "@service_container" ]
    
    cert_unlp.ngen.feed.shadowserver.report.factory:
        class: CertUnlp\NgenBundle\Services\ShadowServer\Reports\Types\ShadowServerReportTypeFactory
        
    cert_unlp.ngen.feed.shadowserver.client:
        class: "%cert_unlp.ngen.feed.shadowserver.client.class%"
        arguments:    ["%cert_unlp.ngen.feed.shadowserver.client.url%","%cert_unlp.ngen.feed.shadowserver.client.user%","%cert_unlp.ngen.feed.shadowserver.client.password%","%cert_unlp.ngen.feed.path%","@cert_unlp.ngen.feed.shadowserver.report.factory","@service_container"]

    cert_unlp.ngen.feed.shadowserver:
        class: "%cert_unlp.ngen.feed.shadowserver.class%"
        arguments: ["@cert_unlp.ngen.feed.shadowserver.client","@cert_unlp.ngen.incident.converter"]
    
    cert_unlp.ngen.incident.handler:
        class:        "%cert_unlp.ngen.incident.handler.class%"
        arguments:    ["@doctrine.orm.entity_manager","%cert_unlp.ngen.incident.class%","@form.factory", "@security.context","%cert_unlp.ngen.incident.reporter.class%"]
      
    cert_unlp.ngen.incident.mailer:
        class:        "%cert_unlp.ngen.incident.mailer.class%"
        arguments:    ["@swiftmailer.mailer.cert_unlp.ngen.incident.mailer","@templating","%cert_unlp.ngen.team.mail%","%cert_unlp.ngen.incident.evidence.path%","@fos_comment.manager.comment","%kernel.environment%"]
        tags:
            -  { name: kernel.event_listener, event: fos_comment.comment.pre_persist, method: onCommentPrePersist, priority: -1 }
            
#    cert_unlp.ngen.seed.redmine:
#        class:        "%cert_unlp.ngen.seed.redmine.class%"
#        arguments:    ["%cert_unlp.ngen.seed.redmine.url%","%cert_unlp.ngen.seed.redmine.key%","%cert_unlp.ngen.incident.evidence.path%","@service_container"]   
    
    cert_unlp.ngen.incident.evidence.manager:
        class:        CertUnlp\NgenBundle\Services\IncidentEvidenceManager
        arguments:    ["%cert_unlp.ngen.incident.evidence.path%"]   
        
    cert_unlp.ngen.incident.delegator:
        class:        "%cert_unlp.ngen.incident.delegator.class%"
        arguments:    [["@cert_unlp.ngen.incident.evidence.manager","@cert_unlp.ngen.incident.mailer"]]
    
    cert_unlp.ngen.incident.converter:
        class: CertUnlp\NgenBundle\Services\Converter\IncidentConverter
        arguments: [ "@event_dispatcher" ]
    
    cert_unlp.ngen.incident.listener:
        class: CertUnlp\NgenBundle\Entity\Listener\IncidentListener
        arguments: [ "@cert_unlp.ngen.incident.delegator", "@service_container" ]
        tags:
            -  { name: doctrine.entity_listener }
            -  { name: kernel.event_listener, event: cert_unlp.incident.convert_to_incident.event, method: onConvertToIncident }
#            -  { name: kernel.event_listener, event: fos_comment.comment.pre_persist, method: onCommentPrePersist }

    cert_unlp.ngen.incident.report.markdown.parser:
        class: CertUnlp\NgenBundle\Services\IncidentMarkdowReportParser
     
    cert_unlp.ngen.network.validator:
        class: "%cert_unlp.ngen.network.validator.class%"
        arguments:    ["@doctrine.orm.entity_manager","@cert_unlp.ngen.network.handler"]
        tags:
            - { name: validator.constraint_validator, alias: valid.network.validator }
            
    cert_unlp.ngen.network.ip.validator:
        class: CertUnlp\NgenBundle\Validator\Constraints\IpValidator
        tags:
            - { name: validator.constraint_validator, alias: ip.validator }
            
    cert_unlp.ngen.network.handler:
        class:        "%cert_unlp.ngen.network.handler.class%"
        arguments:    ["@doctrine.orm.entity_manager","%cert_unlp.ngen.network.class%","@form.factory", "@security.context","%cert_unlp.ngen.network.default_network%"]
    
    cert_unlp.ngen.rdap_client:
        class:        CertUnlp\NgenBundle\Services\Rdap\RdapClient 
        arguments: ["%cert_unlp.ngen.resources.path%"]
        
    fos_comment.form_type.comment.default:
        class: CertUnlp\NgenBundle\Form\IncidentCommentType
        arguments: ["%fos_comment.model.comment.class%"]
        tags:
            - { name: form.type, alias: fos_comment_comment }
    acme.twig.incident_report_extension:
        class: CertUnlp\NgenBundle\Twig\IncidentReportExtension
        tags:
            - { name: twig.extension }       
     
    twig.stringloader:
        class: Twig_Loader_String
        tags:
            - { name: twig.loader }    
     
    gedmo.listener.sluggable:
        class: Gedmo\Sluggable\SluggableListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]
            
    gedmo.listener.timestampable:
        class: Gedmo\Timestampable\TimestampableListener
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ @annotation_reader ] ]