{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

We would like to inform you that we have detected that the <em>host</em> {{incident.hostAddress}} is currently infected with malware and part of a BotNet.


{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Related issues</p>

The consequences of the host being infected may vary, we can list the following:

<ul>
<li><p>Excessive consumption of bandwidth by the host.</p></li>
<li><p>Compromising other hosts.</p></li>
<li><p>Compromising user information.</p></li>
<li><p>etc</p></li>
</ul>

{% endblock %}


{% block verification_content %}


<p class="lead">How to verify the issue</p>

The verification can be achieved analyzing the existing network traffic of the infected host or network, using tools such as:

<div class = "destacated">

<pre><code>tcpdump
</code></pre>

</div>

or

<div class = "destacated">

<pre><code>wireshark
</code></pre>

</div>


{% endblock %}


{% block recommendations_content %}


<p class="lead">Recommendations</p>

The network traffic should be filtered until the problem is solved.


{% endblock %}


{% block more_information_content %}


<p class="lead">For more information</p>


<div class = "destacated">

<ul>
<li><p><a href="http://www.linuxjournal.com/magazine/detecting-botnets">http://www.linuxjournal.com/magazine/detecting-botnets</a></p></li>
</ul>

</div>


{% endblock %}
