{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

We have been notified that the <em>host</em> {{incident.hostAddress}} is distributing copyrighted material. This is due to an improper use of a P2P network.


{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Related issues</p>

Legal actions could be taken against the owner of the host responsible.


{% endblock %}


{% block verification_content %}


{% endblock %}


{% block recommendations_content %}


<p class="lead">Recommendations</p>

The corresponding network traffic should be filtered to solve this problem. If this is not possible, forward the issue to the corresponding users.

Attached to this email you can find a copy of the report we have received.


{% endblock %}


{% block more_information_content %}


{% endblock %}
