{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

We would like to inform you that we have been notified that the <em>host</em> {{incident.hostAddress}} is being used to perform Denial of Service attacks (DOS), through the <strong>NTP service</strong> (UDP port 123).

{% endblock %}


{% block verification_content %}


<p class="lead">How to verify the issue</p>

The verification can be achieved analyzing the server response to the commands <strong><em>NTP readvar</em></strong> and/or <strong><em>NTP monlist</em></strong>. To manually verify if the service responds to these types of commands, use the following commands:


<div class = "destacated">

<pre><code>ntpq -c readvar [{{incident.hostAddress}}]
ntpdc -n -c monlist [{{incident.hostAddress}}]
</code></pre>

</div>


{% endblock %}


{% block recommendations_content %}


<p class="lead">Recommendations</p>

To address the <strong><em>NTP readvar</em></strong> issue, we recommend:


<div class = "destacated">

<a href="http://www.team-cymru.org/ReadingRoom/Templates/secure-ntp-template.html">Disable</a>
<code>NTP readvar</code> queries.

</div>

To address the <strong><em>NTP monlist</em></strong> issue, we recommend:


<div class = "destacated">

Versions of <code>ntpd</code> previous to 4.2.7 are vulnerable. Therefore, we recommend upgrading to the latest version available.
If upgrading is not possible, as an alternative disable <code>monlist</code>.

<a href="http://www.purdue.edu/securepurdue/news/2014/advisory--ntp-amplification-attacks.cfm">More</a>
<a href="http://www.team-cymru.org/ReadingRoom/Templates/secure-ntp-template.html">Information</a>
about how to disable <code>monlist</code>.


</div>


{% endblock %}


{% block more_information_content %}


<p class="lead">For more information</p>


<div class = "destacated">

<ul>
<li><a href="https://www.us-cert.gov/ncas/alerts/TA14-017A">https://www.us-cert.gov/ncas/alerts/TA14-017A</a></li>
</ul>

</div>


{% endblock %}
