{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

We would like to inform you that we have been notified that the <em>host</em> {{incident.hostAddress}} has the <strong>Lightweight Directory Access Protocol</strong> (LDAP) service, accessible from the Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Related issues</p>

The <em>host</em> under your administration could be compromising sensitive information.


{% endblock %}


{% block recommendations_content %}


<p class="lead">Recommendations</p>

<ul>
<li>Establish firewall rules to filter unauthorized queries.</li>
<li>Use Transport Layer Security (TLS) encryption in the communication service. (IN o OVER - DAniela)</li>
<li>Deny anonymous bind type connections.</li>
<li><a href="https://www.sans.org/reading-room/whitepapers/directories/securely-implementing-ldap-109">Additional information</a>.</li>
</ul>

{% endblock %}
