{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el host/servidor {{incident.hostAddress}} tiene el servicio SMB (Server Message Block) accesible desde Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

Este servicio no utiliza encriptación y puede revelar información sensible o el host bajo su administración podría llegar a ser usado para controlar el dispositivo remotamente.


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda:

<ul>
<li><p>Establecer filtros de acceso (reglas de firewall) para exponer el servicio solo a las IPs del administrador.</p></li>
<li><p>En caso de no utilizarlo, es recomendable deshabilitar el servicio.</p></li>
</ul>

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><p><a href="https://redmondmag.com/articles/2017/02/03/smb-security-flaw-in-windows-systems.aspx">https://redmondmag.com/articles/2017/02/03/smb-security-flaw-in-windows-systems.aspx</a></p></li>
<li><p><a href="https://www.us-cert.gov/ncas/current-activity/2017/01/16/SMB-Security-Best-Practices">https://www.us-cert.gov/ncas/current-activity/2017/01/16/SMB-Security-Best-Practices</a></p></li>
<li><p><a href="https://technet.microsoft.com/en-us/library/dn551363(v=ws.11).aspx">https://technet.microsoft.com/en-us/library/dn551363(v=ws.11).aspx</a></p></li>
</ul>

</div>


{% endblock %}
