{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

We would like to inform you that we have been informed that web page hosted with the IP {{incident.hostAddress}} has the Intelligent <strong>Intelligent Platform Management Interface</strong> (IPMI) service, accessible from the Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Related issues</p>

The host under your administration could be controlled remotely. IPMI provides low level access to the device possibly allowing a system reboot, installation of unknown software, access restricted information, etc.

{% endblock %}


{% block recommendations_content %}


<p class="lead">Recommendations</p>

We recommend:

<ul>
<li>Establish firewall rules and filter unauthorized access to the service.</li>
<li>In case the service is not being used, disable it.</li>
</ul>

{% endblock %}


{% block more_information_content %}


<p class="lead">For more information</p>


<div class = "destacated">

<ul>
<li>[US-CERT alert TA13-207A] (https://www.us-cert.gov/ncas/alerts/TA13-207A)</li>
<li>[Dan Farmer on IPMI security issues] (http://fish2.com/ipmi/)</li>
</ul>

</div>


{% endblock %}
