{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el host/servidor {{incident.hostAddress}} dispone del servicio TFTP (Trivial file transfer Protocol) abierto y accesible desde Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

El host bajo su administración podría llegar a ser usado en ataques de amplificación para causar ataques de denegación de servicio (DOS, DDOS).

{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda alguna de las siguientes:

<ul>
<li><p>Deshabilitar el servicio.</p></li>
<li><p>Establecer reglas de firewall para denegar las consultas desde redes no autorizadas.</p></li>
</ul>

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><p><a href="https://blogs.akamai.com/2016/06/new-ddos-reflectionamplification-method-exploits-tftp.html">https://blogs.akamai.com/2016/06/new-ddos-reflectionamplification-method-exploits-tftp.html</a></p></li>
<li><p><a href="https://www.us-cert.gov/ncas/alerts/TA14-017A">https://www.us-cert.gov/ncas/alerts/TA14-017A</a></p></li>
</ul>

</div>


{% endblock %}
