{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

We would like to inform you that we have been notified that the <em>server</em> {{incident.hostAddress}} is currently vulnerable to Padding Oracle On Downgraded Legacy Encryption (POODLE) attacks.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Related issues</p>

POODLE is a man-in-the-middle exploit which takes advantage of Internet and security software clients fallback to SSL 3.0. If attackers successfully exploit this vulnerability, sensitive information could be obtained by attackers, compromising confidentiality.

{% endblock %}


{% block verification_content %}


<p class="lead">How to verify the issue</p>

Access the following web page to verify that the services currently provided by your host are in fact, vulnerable to POODLE:


<div class = "destacated">

<ul>
<li><a href="https://www.poodlescan.com/">https://www.poodlescan.com/</a></li>
</ul>

</div>


{% endblock %}


{% block recommendations_content %}


<p class="lead">Recommendations</p>

We recommend avoiding the use of the SSLv2 and SSLv3 libraries, use TLS instead.

{% endblock %}


{% block more_information_content %}


<p class="lead">For more information</p>


<div class = "destacated">

<ul>
<li><a href="http://www.cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-3566">http://www.cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2014-3566</a></li>
</ul>

</div>


{% endblock %}
