{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

We would like to inform you that we have been informed that the <em>host</em> {{incident.hostAddress}} has SQL injection vulnerabilities.


{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Related issues</p>

The <em>host</em> under you'r administration could be compromising sensitive information.

{% endblock %}


{% block recomendations_content %}


<p class="lead">Recommendations</p>

We recommend analyzing the database related entries that use SQL.

{% endblock %}


{% block more_information_content %}


<p class="lead">For more information</p>


<div class = "destacated">

<ul>
<li><a href="https://www.owasp.org/index.php/SQL_Injection">https://www.owasp.org/index.php/SQL_Injection</a></li>
<li><a href="https://www.owasp.org/index.php/SQL_Injection_Prevention_Cheat_Sheet">SQL Injection Prevention Cheat Sheet</a></li>
</ul>

</div>


{% endblock %}
