{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<table style="width:70%">
    <tr>
        <td >
            <img src="{{ team.logo }}">
        </td>
        <td  style="text-align:right; vertical-align:middle;">
            <span style="color: {{ incident.tlp.rgb }}; background: #000; float:right; border-radius: 10px;" id="tlp">TLP:{{ incident.tlp }}</span>
        </td>
    </tr>
</table>
