{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ networkEntity.slug }}">
    <td class="text-center">
        {{ networkEntity.name }}
    </td>
    <td id="state_label_holder" class="text-center">
        <div>
            {% include "CertUnlpNgenBundle:NetworkEntity:Frontend/list/stateLabel.html.twig" with {'networkEntity': networkEntity} %}
        </div>
    </td>
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':networkEntity , 'detail_link': path('cert_unlp_ngen_network_entity_detail',{ 'slug': networkEntity.slug}),'edit_link': path('cert_unlp_ngen_network_entity_edit',{'slug': networkEntity.slug})} %}
    </td>
</tr>