imports:
    - { resource: parameters.yml }
    - { resource: services.yml }
    - { resource: "@CertUnlpNgenBundle/Resources/config/security.yml" }
    - { resource: "@CertUnlpNgenBundle/Resources/config/config.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi:             ~
    default_locale:  "%ngen_lang%"
    translator:      { fallbacks: ["%ngen_lang%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }
    port: '%mailer_port%'

cert_unlp_ngen:
    team:
        mail: '%team_mail%'
        abuse:  '%team_abuse%'
        url: '%team_url%'
        name: '%team_name%'
    incidents:
        mailer:
            transport: '%mailer_transport%'
            host: '%mailer_host%'
            username: '%mailer_user%'
            password: '%mailer_password%'
            sender_address: '%mailer_sender%'
            port: '%mailer_port%'
            encryption: '%mailer_encryption%'
        internal:
            mailer:
                sender_address: '%mailer_sender%'
            reports:
                lang: "%ngen_lang%"
        external:
            mailer:
                sender_address: '%mailer_sender%'
    networks:
        default_network: '%default_network%'
    global:
        sign: true
    grafana:
        external: '%external_dashboard_grafana%'
        internal: '%internal_dashboard_grafana%'
monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "php://stderr"
            level: debug
        console:
            type:  console
doctrine_migrations:
    dir_name: "%kernel.root_dir%/../vendor/certunlp/ngen-bundle/DoctrineMigrations"
