{% extends  'CertUnlpNgenBundle:IncidentReport:Report/base/baseReport.html.twig' %}
{% block greeting %}
    Estimado {{ incident.network.networkAdmin }},
{% endblock %}
{% block incident_notes_title %}
    Notas del incidente
{% endblock %}
{% block derivated_problem_title %}
    Problemas derivados
{% endblock %}
{% block verification_title %}
    Cómo verificar el problema
{% endblock %}
{% block recomendations_title %}
    Recomendaciones
{% endblock %}
{% block more_information_title %}
    Mas información
{% endblock %}
{% block footer_content %}
    Le agradeceríamos que nos notifique al solucionar el incidente. No dude en
    consultarnos ante cualquier inquietud.


    Un saludo cordial,
    Soporte CertUnlp


    CERTunlp - http://www.cert.unlp.edu.ar

{% endblock %}
{% block footer_generated_by %}

    Este reporte ha sido generado con <a href="https://github.com/CERTUNLP/NgenBundle">https://github.com/CERTUNLP/NgenBundle</a>

{% endblock %}