{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:Incident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Nos ponemos en contacto con Ud. para informarle que el sitio web que se encuentra en {{incident.hostAddress}} sufrió un ataque de defacement, el cual consiste en la modificación del contenido propio del portal por terceros.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

La modificación de la información existente en el servidor indica la obtención de privilegios sobre el mismo por parte de los atacantes. A raíz de esta situación, el servidor puede encontrarse expuesto a otros tipos de problemas, como ser:

<ul>
<li>Alojamiento de malware.</li>
<li>Servir como origen de ataques más sofisticados.</li>
<li>Obtención de mayores privilegios sobre el mismo.</li>
<li>etc.</li>
</ul>

{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

El defacement puede ser observado a través de la URL 

<div class = "destacated">

<pre><code>http://{{incident.hostAddress}}/
</code></pre>

</div>


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda la realización de una forencia sobre el servidor con el objetivo de conocer el origen del problema como así también el alcance del ataque. Por otro lado, se recomienda la realización de un pentest sobre el sitio afectado, el cual permitirá la identificación temprana de otros problemas que podrían derivar en situaciones similares a la presente.

{% endblock %}


{% block more_information_content %}


{% endblock %}
