{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:Incident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos detectado que el servidor DNS con IP {{incident.hostAddress}}
tiene habilitada la transferencia de alguna de sus zonas, al menos desde la
red de nuestro CERT.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

El host bajo su administración podría llegar a ser usado en ataques de
amplificación DNS.

{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Utilizando el comando:

<div class = "destacated">

<pre><code>dig &lt;zona&gt;.unlp.edu.ar @{{incident.hostAddress}} axfr
</code></pre>

</div>


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda establecer restricciones en el servidor DNS que permitan la
consultas de requerimiento de zona solo desde los servidores DNS secundarios.

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><a href="http://www.sans.org/reading_room/whitepapers/dns/securing-dns-zone-transfer_868">http://www.sans.org/reading_room/whitepapers/dns/securing-dns-zone-transfer_868</a></li>
<li><a href="http://www.sans.org/reading_room/whitepapers/dns/securing-dns-zone-transfer_868">http://www.esdebian.org/wiki/transferencias-zonas-bind9</a></li>
</ul>

</div>


{% endblock %}
