{% include 'CertUnlpNgenBundle:Incident:Report/Twig/BaseReport/head.html.twig' %}
<table class="row">
    <tr>
        <td class="wrapper last">
            {{body}}
        </td>
    </tr>
</table>

{% include 'CertUnlpNgenBundle:Incident:Report/Twig/BaseReport/foot.html.twig' with { 'incident': incident }%}