{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:Incident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Nos notificaron que el host {{incident.hostAddress}} está enviando SPAM.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

De no solucionar el problema, su servidor puede ser introducido en distintas blacklists que causarán que dicho servidor no pueda enviar correos a otros servidores.


{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Es probable que el SPAM se envíe utilizando una cuenta de correo comprometida.
Analizando la cabecera del email de spam adjunto, puede distinguirse el usuario autenticado que realizó el envío del mensaje.


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda cambiar las credenciales de los usuarios afectados e instruir a los mismos sobre los mails de phishing, ataque que probablemente haya sido utilizado para el robo de las credenciales.

{% endblock %}
