{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<div id="fos_comment_thread" data-thread="{{ thread.id }}">

    {% include '@CertUnlpNgen/Incident/Frontend/comments/comments.html.twig' with {
        'comments': comments,
        'thread': thread
    } %}

</div>