{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Nos comunicamos con usted para informarle que hemos detectado que el Host {{incident.hostAddress}} el cual esta bajo su administración, ha sido detectado en blacklists, las cuales se encuentran en el archivo adjunto.


{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

Servicios brindados por la IP {{incident.hostAddress}} puede verse afectados por la existencia de dicha IP en la blacklist reportada.


{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Puede comprobar la existencia de su IP en diferentes blacklist consultando el sitio

<div class = "destacated">

<pre><code>http://whatismyipaddress.com/blacklist-check
</code></pre>

</div>


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Le sugerimos acceder a las páginas correspondientes para eliminar dichos hosts de las mismas.


{% endblock %}
