{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el dispositivo {{incident.hostAddress}} contiene una vulnerabilidad en el procesamiento de paquetes IKEv1.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

Esta vulnerabilidad podría permitir a un atacante remoto no autentiado recuperar el contenido de la memoria, lo cual podría conducir a la divulgación de información confidencial.

{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda alguna de las siguientes:

<ul>
<li><p>Actualizar el firmware del dispositivo.</p></li>
<li><p>Deshabilitar el servicio.</p></li>
</ul>

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><p><a href="https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-20160916-ikev1">https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-20160916-ikev1</a></p></li>
</ul>

</div>


{% endblock %}
