{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Le contactamos porque se nos ha informado que el <em>host</em> con IP {{incident.hostAddress}} brinda
el servicio de NTP de manera insegura. En particular, el servicio estaría
respondiendo a comandos del tipo <code>NTP readvar</code>.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

El <em>host</em> bajo su administración podría llegar a ser usado en ataques de
<a href="https://www.us-cert.gov/ncas/alerts/TA14-017A">amplificación</a>. Esto
permitiría realizar ataques a terceros de tipo:

<ul>
<li>DoS (Denegación de servicio)</li>
<li>DDoS (Denegación de servicio distribuida)</li>
</ul>

{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Para testear manualmente si el servicio es vulnerable a esta falla puede
utilizar el comando:

<div class = "destacated">

<pre><code>ntpq -c readvar {{incident.hostAddress}}
</code></pre>

</div>


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

<a href="http://www.team-cymru.org/ReadingRoom/Templates/secure-ntp-template.html">Deshabilitar</a>
las consultas <code>NTP readvar</code>.

{% endblock %}
