{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el host/servidor {{incident.hostAddress}} tiene el servicio de resolución de Microsoft SQL Server abierto desde Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

El host bajo su administración podría ser usado para revelar información como así también en ataques de amplificación UDP que provoquen denegaciones de servicio (DOS, DDOS).

{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda establecer reglas de firewall para permitir solamente las conexiones al servicio solo desde los servidores autorizados.

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><p><a href="https://www.us-cert.gov/ncas/alerts/TA14-017A">https://www.us-cert.gov/ncas/alerts/TA14-017A</a></p></li>
<li><p><a href="https://blogs.akamai.com/2015/02/plxsert-warns-of-ms-sql-reflection-attacks.html">https://blogs.akamai.com/2015/02/plxsert-warns-of-ms-sql-reflection-attacks.html</a></p></li>
<li><p><a href="http://es.wikipedia.org/wiki/SQL_Slammer">http://es.wikipedia.org/wiki/SQL_Slammer</a></p></li>
</ul>

</div>


{% endblock %}
