{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el <strong>host/servidor</strong> {{incident.hostAddress}} brinda el servicio portmap accesible desde Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

El <em>host</em> bajo su administración podría llegar a ser usado en ataques de
<a href="https://www.us-cert.gov/ncas/alerts/TA14-017A">amplificación</a>. Esto 
permitiría realizar ataques a terceros de tipo:

<ul>
<li>DoS (Denegación de servicio)</li>
<li>DDoS (Denegación de servicio distribuida)</li>
</ul>

Adicionalmente, el servidor podría exponer otros servicios mal configurados como puede ser carpetas compartidas NFS.


{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Utilizando el comando:

<div class = "destacated">

<pre><code>rpcinfo -T udp -p {{incident.hostAddress}}
</code></pre>

</div>

Y ver carpetas compartidas NFS utilizando el comando:

<div class = "destacated">

<pre><code>showmount -e {{incident.hostAddress}}
</code></pre>

</div>


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

<ul>
<li><p>Se recomienda desactivar o filtrar el servicio Portmap para que sólo sea accesible desde las redes que usted necesite.</p></li>
<li><p>En caso de usar carpetas compartidas NFS evaluar la necesidad. Desactivar, configurar o filtrar adecuadamente.</p></li>
</ul>

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><a href="https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2005-2132">https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2005-2132</a></li>
<li><a href="http://blog.level3.com/security/a-new-ddos-reflection-attack-portmapper-an-early-warning-to-the-industry/">http://blog.level3.com/security/a-new-ddos-reflection-attack-portmapper-an-early-warning-to-the-industry/</a></li>
<li><a href="https://www.us-cert.gov/ncas/alerts/TA14-017A">https://www.us-cert.gov/ncas/alerts/TA14-017A</a></li>
</ul>

</div>


{% endblock %}
