{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Le contactamos porque se nos ha informado que el <em>host</em> con IP {{incident.hostAddress}} tiene una base de datos MongoDB NoSQL accesible sin restricciones desde Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

El <em>host</em> bajo su administración podría llegar a estar brindando información sensible, comprometiendo sistemas que corren él.


{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Para testear manualmente la conexión al servicio puede utilizar el comando:

<div class = "destacated">

<pre><code>mongo {{incident.hostAddress}}
</code></pre>

</div>


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

<ul>
<li><p><a href="http://docs.mongodb.org/manual/core/security-network/#firewalls">Agregar</a>
firewalls para restringir accesos no autorizados.</p></li>
<li><p><a href="http://docs.mongodb.org/manual/core/authorization/">Habilitar</a>
la autenticación de accesos.</p></li>
<li><p><a href="http://docs.mongodb.org/manual/core/security-network/#nohttpinterface">Habilitar</a> el servicio con SSL.</p></li>
<li><p><a href="http://docs.mongodb.org/manual/reference/security/#userAdminAnyDatabase">Habilitar</a> la autorización de acciones basada en roles.</p></li>
<li><p><a href="http://docs.mongodb.org/manual/core/security-network/#bind-ip">Configurar</a>
las conexiones en la interfaz de loopback.</p></li>
<li><p>Alternativamente, se puede <a href="http://docs.mongodb.org/manual/core/security-network/#port">cambiar</a> el puerto de conexión.</p></li>
<li><p><a href="http://docs.mongodb.org/manual/core/security-network/#nohttpinterface">Deshabilitar</a> la interfaz http de estado.</p></li>
<li><p><a href="http://docs.mongodb.org/manual/core/security-network/#rest">Deshabilitar</a>
la interfaz REST.</p></li>
</ul>

{% endblock %}
