{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el host/servidor {{incident.hostAddress}} tiene el servicio RDP (Remote Desktop Protocol) accesible desde Internet.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

Este servicio puede revelar información sensible o el host bajo su administración podría llegar a ser usado para controlar el dispositivo remotamente.


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda:

<ul>
<li><p>Establecer filtros de acceso (reglas de firewall) para exponer el servicio solo a las IPs del administrador.</p></li>
<li><p>En caso de no utilizarlo, es recomendable deshabilitar el servicio.</p></li>
</ul>

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><p><a href="https://en.wikipedia.org/wiki/Remote_Desktop_Protocol">https://en.wikipedia.org/wiki/Remote_Desktop_Protocol</a></p></li>
<li><p><a href="https://zeltser.com/remote-desktop-security-risks/">https://zeltser.com/remote-desktop-security-risks/</a></p></li>
<li><p><a href="https://www.howtogeek.com/175087/how-to-enable-and-secure-remote-desktop-on-windows/">https://www.howtogeek.com/175087/how-to-enable-and-secure-remote-desktop-on-windows/</a></p></li>
</ul>

</div>


{% endblock %}
