{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el host/servidor {{incident.hostAddress}} está realizando consultas de DNS de dominios listados en la lista DBL.
La lista DBL lista los dominios que son usados como distribuidores de malware, sitios que almacenan malware, redirecciones maliciosas, dominios usados como botnets, servidores de C&amp;C y otras actividades maliciosas.
Esta lista incluye dominios usados como fuentes de spam y generadores de spam, phishing, virus y sitios relacionados con malware.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

En la mayoría de los casos puede ser un indicador de que su host está siendo utilizado para enviar spam.

{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Si es el host es un servidor de correo puede verificar la cola de correos salientes y el tamaño de la misma.
Si el host no es un servidor de correo, es muy probable que tenga algún malware y sería útil chequear los procesos corriendo en el mísmo.

{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Si se trata de un servidor de correo:

<ul>
<li><p>Borrar de la cola los mails que sean considerados spam.</p></li>
<li><p>Verificar la configuración del correo o si hay una cuenta comprometida.</p></li>
<li><p>Verificar que nuestro host no esté listado en black list's.</p></li>
</ul>

{% endblock %}
