{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Nos comunicamos con Ud. para comunicarle que el host {{incident.hostAddress}} se encuentra realizando un proceso de Scan sobre otros equipos de la UNLP y/o el exterior.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

La realización del proceso de Scan probablemente se deba a que el equipo se encuentre comprometido y siendo utilizado para reconocer otros equipos de la red, los cuales dependiendo del scan, serán luego atacados o no.
Por otro lado este problema genera la circulación en la red grandes volúmenes de información que generan problemas o pérdidas velocidad en la misma.


{% endblock %}


{% block verification_content %}


<p class="lead">Cómo verificar el problema</p>

Se puede realizar una verificación del problema a través del análisis del tráfico existente en la red o sobre el host afectado, utilizando herramientas como 

<div class = "destacated">

<pre><code>tcpdump
</code></pre>

</div>

o 

<div class = "destacated">

<pre><code>wireshark
</code></pre>

</div>


{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda quitar el acceso del host afectado a la red durante la realización del análisis que determine el origen del tráfico.
Habiendo ocurrido una muy probable obtención de privilegios sobre el host por parte de atacantes, se recomienda la realización de una forencia sobre el equipo con el objetivo de determinar la vulnerabilidad que proporcionó dichos privilegios.

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><p><a href="http://archive.oreilly.com/pub/h/1393">http://archive.oreilly.com/pub/h/1393</a></p></li>
<li><p><a href="http://inai.de/documents/Chaostables.pdf">http://inai.de/documents/Chaostables.pdf</a></p></li>
</ul>

</div>


{% endblock %}
