{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% set father = 'CertUnlpNgenBundle:Incident:Report/Twig/BaseReport/baseReport.'~txtOrHtml~'.twig' %}
{% extends father %}{% block problem %}

Lo contactamos porque hemos sido informados que el host/servidor {{incident.hostAddress}} tiene
vulnerabilidades de SQL Injection.

{% endblock %}


{% block derivated_problem_content %}


<p class="lead">Problemas derivados</p>

El <em>host</em> bajo su administración podría llegar a estar brindando información sensible, comprometiendo sistemas que corren él.

{% endblock %}


{% block recomendations_content %}


<p class="lead">Recomendaciones</p>

Se recomienda revisar la aplicacion verificando todas las entradas que esten relacionadas con la base de datos y el uso de sql.

{% endblock %}


{% block more_information_content %}


<p class="lead">Mas información</p>


<div class = "destacated">

<ul>
<li><a href="https://www.owasp.org/index.php/SQL_Injection">https://www.owasp.org/index.php/SQL_Injection</a></li>
<li><a href="https://www.owasp.org/index.php/SQL_Injection_Prevention_Cheat_Sheet">SQL Injection Prevention Cheat Sheet</a></li>
</ul>

</div>


{% endblock %}
