{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::User/Frontend/frontend.html.twig' %}

{% block content_body %}
    <p>An email has been sent to {{ user.email }}. It contains an activation link you must click to activate your
        account.</p>
{% endblock %}
{% block javascripts %}
{% endblock %}