{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ incidentFeed.slug }}">
    <td class="text-center">
        {{ incidentFeed.name }}
    </td>
    <td class="text-center">
        {{ incidentFeed.description | default('No description')| trans }}
    </td>
    <td id="state_label_holder" class="text-center">
        <div>
            {% include "CertUnlpNgenBundle:IncidentFeed:Frontend/list/stateLabel.html.twig" with {'incidentFeed': incidentFeed} %}
        </div>
    </td>
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':incidentFeed , 'detail_link': path('cert_unlp_ngen_incident_feed_detail',{'slug': incidentFeed.id}),'edit_link': path('cert_unlp_ngen_incident_feed_edit',{'slug': incidentFeed.id})} %}
    </td>
</tr>