.tlp-red {
    color: #ff0033;
    background: #000;
    border-radius: 10px;
}

.tlp-amber {
    color: #ffc000;
    background: #000;
    border-radius: 10px;
}

.tlp-green {
    color: #33ff00;
    background: #000;
    border-radius: 10px;
}

.tlp-white {
    color: #fff;
    background: #000;
    border-radius: 10px;
}

.rigth {
    float:right;
}

.left {
    float:left;
}

.center {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}

.fieldset-contact
{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}

legend
{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}

.align-middle {
    vertical-align: middle !important;
}

.select-filter, .multiple-select-filter
{
    max-width:10em;
    min-width: 10em;
}

.rounded-circle {
    border-radius: 50% !important;
}

#menu-toggle{
    margin-top:2em;
    color:#337ab7;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}