{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::User/Frontend/home.html.twig' %}

{% block content_header %}
    <h1 class="page-header">{{ icon('user fa-fw') }}{{ 'Profile'|trans }}</h1>
{% endblock %}
{% block content_body %}
    {% include "CertUnlpNgenBundle:User:Frontend/Profile/show_content.html.twig" %}
    <a class="btn btn-info" href="{{ path('fos_user_profile_edit') }}">
        {{ 'Edit'|trans }}
    </a>

{% endblock %}