{#
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::User/Frontend/frontend.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content_body %}
    <p>
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </p>
{% endblock %}
{% block javascripts %}
{% endblock %}