{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ networkAdmin.id }}">
    <td class="align-middle">
        {{ networkAdmin.name }}
    </td>
    <td class="align-middle">
        {{ networkAdmin.emailsAsString }}
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {% include "CertUnlpNgenBundle:NetworkAdmin:Frontend/list/stateLabel.html.twig" with {'networkAdmin': networkAdmin} %}
        </div>
    </td>
    <td class="align-middle">

        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':networkAdmin , 'detail_link': path('cert_unlp_ngen_network_detail_network_admin',{ 'slug': networkAdmin.slug}),'edit_link': path('cert_unlp_ngen_network_edit_network_admin',{'slug': networkAdmin.slug})} %}

    </td>
</tr>