on: push
name: Build NGEN docker image
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.2
      name: Check out code
    - uses: docker/build-push-action@v2
      name: Build & push Docker image
      with:
        image: certunlp/ngen
        tag: latest
        registry: registry-url.io
        dockerfile: Docker/docker-build/multistage/Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
